certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
dataclasses==0.6
Django==2.2.27
django-cors-headers==2.5.3
djangorestframework==3.11.2
djangotoolbox==1.8.0
djongo==1.2.32
httpie==1.0.2
idna==2.8
Pygments==2.7.4
pymongo==3.8.0
pytz==2019.1
requests==2.21.0
sqlparse==0.2.4
urllib3==1.24.2
virtualenv==16.5.0
